@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
  background-color: #F0EEE9;
  color: #1A1A1A;
}

/* Hide scrollbar utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1);
  border-radius: 20px;
}
